@page "/hannes"

<h3>Hannes</h3>
<RazorClassLibrary1.Component1></RazorClassLibrary1.Component1>

<div class="row">
    <div class="col-md-6 col-12">
        sdgfghgh
        </div>
     <div class="col-6">

         dfhfghghjghj
     </div>
    </div>
    <p></p>

@code {

}
