@page "/Liste" 
<h3>Liste</h3>
<ul class="list-group">
    @for (int i = 0; i < 7; i++)
    {
     <li class='list-group-item @(i%2==0?"list-group-item-info":"")'>
         @DateTime.Now.AddDays(i).ToString("dddd")
     </li>
    }
</ul>
@code {

    string Zeile(int i)
    {

        return "list-group";
    }
}
